
/* --- Paleta de Colores --------------------------------------- */
/* ------------------------------------------------------------- */
:root {
    --colorPrimario: rgb(242, 242, 242);
    --colorSecundario: rgb(163, 163, 163);

    --colorTransparencia1: rgba(242, 242, 242, 0.5);

    --colorText1: rgb(34, 72, 129);
    --colorText2: rgb(255, 140, 140);

    --colorCajaFondo: rgba(99, 99, 99, 0.368);
    --colorCajaBorde: black;
}

a {
    color: var(--colorText1);
    text-decoration: none;
}

h1, h4, p {
    margin: 1rem;
}

/* --- NavBar -------------------------------------------------- */
/* ------------------------------------------------------------- */
.navBar01-contenedor {
    background-color: var(--colorPrimario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

/* navBar01-logo --------------------- */
.navBar01-logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.navBar01-logo img {
    height: 3rem;
    margin-right: 1rem;
}

/* navBar01-btn ---------------------- */
.navBar01-btn {
    cursor: pointer;
    display: none;
    padding-right: 2rem;
}

.navBar01-A, .navBar01-B, .navBar01-C {
    width: 2rem;
    height: 5px;
    background-color: var(--colorText1);
    border-radius: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

.navBar01-btn_click .navBar01-A {
    transform: translateY(11px) rotate(45deg);
    background-color: var(--colorSecundario);
}

.navBar01-btn_click .navBar01-B {
    opacity: 0;
}

.navBar01-btn_click .navBar01-C {
    transform: translateY(-11px) rotate(-45deg);
    background-color: var(--colorSecundario);
}

/* navBar01-links -------------------- */
.navBar01-links {
    margin-right: 2rem;
}

.navBar01-links a {
    /* margin-left: 1rem; */
    padding: 0.5rem;
    font-size: 1.5rem;
}

.navBar01-links a:hover {
    color: var(--colorPrimario);
    background-color: var(--colorCajaFondo);
}

/* navBar01 comportamineto ----------- */
@media (max-width: 767.98px) {
    body {
        font-size: 14px; 
    }

    .carrito-contenedor {
        position: fixed;
        right: 1rem;
        top: 30vh;
    }

    .navBar01-btn {
        display: block;
    }

    .navBar01-links {
        position: fixed;
        display: grid;
        top: 4rem;
        background-color: var(--colorTransparencia1);
        text-align: center;
        width: 100%;
        left: 100%;
        transition: 0.4s;
        border-radius: 0 0 100px 100px;
        backdrop-filter: blur(8px);;
    }

    .navBar01-links_noOcultar {
        left: 0;
    }

    .navBar01-links a {
        padding: 1rem;
    }
}

.carrito-contenedor {
    background-color: var(--colorText2);
    padding: 0.5rem;
    border-radius: 25%;
    cursor: pointer;
    color: var(--colorPrimario);
}

.carrito-contenedor > img {
    height: 2rem;
}

/* --- Carrusel ------------------------------------------------ */
/* ------------------------------------------------------------- */
#carrusel-contenedor {
    margin-top: 5rem;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides > img {
    vertical-align: middle;
    height: 50vh;
    object-fit: cover;
    top: 0;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

/* --- Buscar Juego -------------------------------------------- */
/* ------------------------------------------------------------- */
.buscarJuego {
    text-align: center;
}

.buscarJuego > input[type=text] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid grey;
    max-width: 70vw;
    background: #f1f1f1;
}

.buscarJuego > button {
    max-width: 20vw;
    padding: 10px;
    background: var(--colorText1);
    color: var(--colorPrimario);
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
}
  
.buscarJuego button:hover {
    background: var(--colorCajaFondo);
}
  
.buscarJuego::after {
    content: "";
    clear: both;
    display: table;
}

/* --- Tarjeta ------------------------------------------------- */
/* ------------------------------------------------------------- */
#tienda {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card > img {
    width:100%
}

.price {
    color: var(--colorText1);
    font-size: 1.5rem;
}

.card button {
    border: none;
    outline: 0;
    padding: 1rem;
    color: var(--colorPrimario);
    background-color: var(--colorText1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
}

.card button:hover {
    opacity: 0.7;
}

.btnMasMenos {
    display: flex;
    justify-content: center;
}

.btnMasMenos img {
    height: 4rem;
    cursor: pointer;
}
