
/* --- Paleta de Colores --------------------------------------- */
/* ------------------------------------------------------------- */
:root {
    --colorPrimario: rgb(242, 242, 242);
    --colorSecundario: rgb(34, 72, 129);

    --colorText1: rgb(34, 72, 129);
    --colorText2: rgb(255, 140, 140);

    --colorCajaFondo: rgba(99, 99, 99, 0.368);
    --colorCajaBorde: black;
}

a {
    color: var(--colorText1);
    text-decoration: none;
}

/* --- NavBar -------------------------------------------------- */
/* ------------------------------------------------------------- */
.navBar01-contenedor {
    background-color: var(--colorPrimario);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navBar01-logo --------------------- */
.navBar01-logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.navBar01-logo img {
    height: 3rem;
    margin-right: 1rem;
}

/* navBar01-btn ---------------------- */
.navBar01-btn {
    cursor: pointer;
    display: none;
    padding-right: 2rem;
}

.navBar01-A, .navBar01-B, .navBar01-C {
    width: 2rem;
    height: 5px;
    background-color: var(--colorText1);
    border-radius: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

.navBar01-btn_click .navBar01-A {
    transform: translateY(11px) rotate(45deg);
    background-color: var(--colorSecundario);
}

.navBar01-btn_click .navBar01-B {
    opacity: 0;
}

.navBar01-btn_click .navBar01-C {
    transform: translateY(-11px) rotate(-45deg);
    background-color: var(--colorSecundario);
}

/* navBar01-links -------------------- */
.navBar01-links {
    margin-right: 2rem;
}

.navBar01-links a {
    margin-left: 1rem;
}

.navBar01-links a:hover {
    color: var(--colorSecundario);
}

/* navBar01 comportamineto ----------- */
@media (max-width: 767.98px) {
    .navBar01-btn {
        display: block;
    }

    .navBar01-links {
        position: fixed;
        display: grid;
        top: 4rem;
        background-color: var(--colorPrimario);
        text-align: center;
        width: 100%;
        left: 100%;
        transition: 0.4s;
        border-radius: 0 0 100px 100px;
    }

    .navBar01-links_noOcultar {
        left: 0;
    }

    .navBar01-links a {
        padding: 1rem;
    }
}

.carrito-contenedor {
    background-color: var(--colorText2);
    padding: 0.5rem;
    border-radius: 25%;
    cursor: pointer;
    color: var(--colorPrimario);
}

.carrito-contenedor > img {
    height: 2rem;
}

/* --- Tarjeta ------------------------------------------------- */
/* ------------------------------------------------------------- */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }